.titulo {
    text-align: center; 
    text-transform: uppercase; 
    text-decoration: underline;
}
.centro {
    margin: 0 auto;
    width: 1024px;
}
.meio {
    display: inline-block;
    vertical-align: top;
    width: 508px;
}
pre {
    margin: 0;
}
code.hljs {
    padding: 0px;
    padding-left: 10px;
    margin: 0;
    padding-bottom: 25px;
}
.rodape {
    position: fixed;
    bottom: 10px;
    left: 0;
    width: 100%;
    height: 30px;
}
.rodape ul li {
    display: inline;
    text-decoration: none;
}